:root{
    --section-horizontal-margin: 6rem;
    --section-vertical-margin: 5rem;

    --column-horizontal-margin: 0vw;

    --base-color: #171717;
    --header-text-color: #F6F7F7;
    --menu-text-color: #D4E669;
}


body {
    margin: 0;
    background-color: var(--base-color);
    font-family: 'K2D';
}

.header-name {
    position: absolute;
    left: 0;
    top: 0;
    
    width: 20rem;
    max-width: 100%;
    margin: 0;
    padding: inherit;

    font-size: 2rem;
    color: var(--header-text-color);
}

section {
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    min-height: 46.875rem;
    margin: 0 var(--section-horizontal-margin);
    padding: var(--section-vertical-margin) 0;
}

#main-page {
    display: grid;
    grid-template-columns: 20rem 1fr 20rem;
    height: 100%;
    width: 100%;
    gap: 1rem;
    
    --background-color: red;
}

.img {
    display: block;
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
}

#main-page > div {
    display: grid;
}

.portrait-photo {
    max-width: 100%;
    border-radius: 1.5rem;
    grid-row: 2/2;
    align-self: end;

    background-color: aqua;
}

/*

.main-page-column-second {
    grid-column: 2;
    align-items:center;
}

#navbar-primary {
    margin: 0 auto;
    --margin-left: 5rem;
    padding: 0;
    width: fit-content;
    list-style: none;
}

.navlink-primary {
    font-size: 4rem;
    font-size: clamp(4rem, 1.25rem + 3.5vw, 5.5rem);
    white-space: nowrap;
    text-decoration:none !important; 
    transition: all .2s ease-in-out;
    color: var(--menu-text-color);
}

.navlink-primary:hover {
    text-shadow: 1px 0 var(--menu-text-color),
                -1px 0 var(--menu-text-color),
                -1px 0 var(--menu-text-color),
                1px 0 var(--menu-text-color);
    text-decoration:none !important; 
    cursor:pointer;
}

.main-page-column-third {
    grid-column: 3;
    align-items: flex-start;
}

.footer-links {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: inherit;
    margin: 0;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 22.5rem;

    font-size: 1.5rem;
}

.navlink-footer {
    display: block;
    text-decoration:none !important;
    color: var(--header-text-color); 
}

.navlink-footer:hover {
    text-decoration:none !important; 
    color: var(--header-text-color);
}

*/