:root{
    --section-horizontal-margin: 3.5vw;
    --section-vertical-margin: 7.5vh;

    --column-horizontal-margin: 0vw;

    --base-color: #171717;
    --header-text-color: #F6F7F7;
    --menu-text-color: #D4E669;
}


body {
    margin: 0;
    background-color: var(--base-color);
    font-family: 'K2D';
}

section {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 2fr 3fr 2fr;
    gap: 1rem;
    height: 100vh;
    height: 100dvh;

    margin: 0 var(--section-horizontal-margin);
    padding: var(--section-vertical-margin) 0;

    --background-color: red;
}

section > div {
    position: relative;
    --background-color: blue;
}

.header-name {
    position: absolute;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    width: 20rem;
    max-width: 100%;
    margin: 0 auto;

    font-size: 2rem;
    color: var(--header-text-color);
}

.portrait-photo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    width: 20rem;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 1.5rem;

    background-color: aqua;
}

#main-page-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
    width: 30rem;
    height: fit-content;
    list-style: none;
}

.main-page-navlink {
    font-size: 5.25rem;
    white-space: nowrap;
    text-decoration:none !important; 
    transition: all .2s ease-in-out;
    color: var(--menu-text-color);
}

.main-page-navlink:hover {
    font-weight: bold;
    text-decoration:none !important; 
    cursor:pointer;
}

.thumbnail-photo {
    position: absolute;
    left: 0;
    right: 0;
    top: 1rem;

    width: 20rem;
    height: 30rem;
    max-width: 100%;
    margin: 0 auto;

    border-radius: 1.5rem;

    background-color: aqua;
}